@import url(https://www.google.com/fonts#UsePlace:use/Collection:Droid+Sans);
body,
html,
#map-canvas {
    margin: auto;
    height: 115vh;
    width: 99.9vw;
    position: fixed;
    display: block;
    overflow: auto;
}

#map-error {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    padding-right: 20%;
    padding-left: 40%;
}

.categoryfont{
    font-style: italic;
    font-weight: lighter;
}

.namefont{
    font-weight: bolder;
    color: #204d74;
}

.venue-group {
    position: absolute;
    top: 60px;
    display: block;
    overflow: auto;
    width: 280px;
    height: 520px;
    left: 40px;
    z-index: 1;
    font-family: "Droid Sans", sans-serif;
}

.list-group div:hover{
    background-color: #f6f080;
}

.media {
    background: #fff;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
}

.vinfowindow {
    max-width: 210px;
}

.vinfowindow .venuename {
    font-family: "Droid Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.vrating {
    float: right;
    clear: left;
    background-color: #ff4e00;
}

.vcontact{
    font-weight: bold;
}

.search-bar {
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 40px;
}

.otherimg {
    max-width: 250px !important;
}
.search-bar input.form-control {
    width: 110px;
    display: inline-block;
    font-size: 12px;
}

#resultslist{
    display:none;
}

@media only screen and (max-width : 760px) {

    #map-error {
        display: block;
        overflow: auto;
        height: 100%;
        width: 100%;
        padding-top: 20%;
        padding-right: 20%;
        padding-left: 60%;
    }

    #resultslist{
        display:block;
    }
    .venue-group {
        position: absolute;
        top: 60px;
        display: block;
        overflow: auto;
        width: 200px;
        height: 65%;
        left: 20px;
        font-size: small;
        z-index: 1;
    }
    .media {
        width: 200px;
        height: 100px;
        background: #fff;
        font-size: small !important;
    }
    .pull-left {
        width: 60px;
    }

    .search-bar {
        position: absolute;
        top: 5px;
        z-index: 1;
        left: 20px;
    }
    .search-bar input {
        width: 100px;
        display: inline-block;
        font-size: 8px;
    }
    .badge {
        font-size: 8px;
    }

    .media-heading,.list-group-item-text {
        font-size: 10px;
        word-wrap: break-word;
    }

    .vinfowindow {
        max-width: 100px;
    }

    .vinfowindow .venuename {
        font-size: 10px;
    }

}